<a href="https://colab.research.google.com/github/Crcas05/Fraude-PCI/blob/main/Sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text

pd.set_option('display.max_columns', 50) # Muestra las columnas
pd.set_option('display.width', 1000) # Muestra las 6 columnas en nuestro ejemplo
pd.set_option('display.max_rows', None) # Muestra filas sin limite

# Paso 1: Verificar que el archivo subido está
!ls

# Paso 2: Crear conexión con el nombre correcto del archivo subido
engine = create_engine("sqlite:///sesion1 (1).db")

# Paso 3: Ver qué tablas contiene la base
with engine.connect() as conn:
    tablas = conn.exec_driver_sql("SELECT name FROM sqlite_master WHERE type='table';")
    print("Tablas disponibles:")
    print(tablas.fetchall())

# Paso 4: Probar una consulta básica
with engine.connect() as conn:
    query = text("SELECT * FROM clientes LIMIT 5;")
    resultado = conn.execute(query)
    for fila in resultado:
        print(fila)

# Leer los datos directamente desde SQL
df = pd.read_sql("SELECT * FROM clientes WHERE ciudad = 'Arequipa';", con=engine)

# Mostrar los resultados
print(df.head())

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text, bindparam

# Conexión
engine = create_engine("sqlite:///sesion1 (1).db", echo=False, future=True)

# Consulta SQL
query = text("SELECT * FROM clientes ")

# Ejecutar y cargar en un DataFrame
with engine.connect() as conn:
    consulta1 = pd.read_sql(query, conn)

# Mostrar el resultado
print(consulta1)

In [ ]:
consulta1.head()

In [ ]:
# Consulta a la BD los pedidos con un monto total menor a 100
query = text (
    "SELECT * FROM pedidos WHERE total < 100 ORDER BY total ASC"
    )

with engine.connect () as conn:
  consulta2 = pd.read_sql(query, conn)

print(consulta2)

In [ ]:
consulta2.info()

# CONSULTA PERSONALIZADA

# Programa que le pregunte al usuario a que ciudad quiere fltrar y Python consulte dichos registros.

In [ ]:
ciudad_seleccionada = input("Ingrese el nombre de la Ciudad\n")
query = text(
    f"SELECT * FROM clientes WHERE ciudad = '{ciudad_seleccionada}'"
)

with engine.connect() as conn:
  consulta3 = pd.read_sql(query, conn)

print(consulta3)

In [ ]:
consulta3

# VAMOS HALLAR VALORES UNICOS DE NUESTRA TABLA CLIENTE

In [ ]:
query = text("SELECT DISTINCT ciudad FROM clientes")

with engine.connect() as conn:
  ciudades = pd.read_sql(query, conn)

print(ciudades)

In [ ]:
ciudades.values

In [ ]:
from sqlalchemy import text

ciudad_seleccionada = input("Ingrese el nombre de la Ciudad:\n").title()

query = text("SELECT * FROM clientes WHERE ciudad = :ciudad")

with engine.connect() as conn:
    consulta3 = pd.read_sql(query, conn, params={"ciudad": ciudad_seleccionada})

print(f"Se importaron {len(consulta3)} filas")

In [ ]:
consulta3